// app global css in SCSS form

a {
  text-decoration: none;
  color: $primary;
}

img {
  object-fit: cover;
}

.bg-main {
  background-color: $main !important;
}

.bg-main-secondary {
  background-color: $main-secondary !important;
}

.bg-main-dark {
  background-color: $main-dark !important;
}
