// app global css in SCSS form

a {
  text-decoration: none;
  color: $primary
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: $dark;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 10px;
}

.bg-main {
  background-color: $main !important;
}

.bg-main-secondary {
  background-color: $main-secondary !important;
}

.bg-main-dark {
  background-color: $main-dark !important;
}
